@media(max-width: 400px;){

}
ul{
    list-style-type: none;
}
li{
    display: inline;
    border-color: black;
}
body{
    background-color: grey;
}
.container{
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat( 5 , 250px );
    grid-template-rows: auto;
    grid-gap: 2px;
    grid-template-areas: 
    "logo logo logo logo img-1"
    "logo logo logo logo img-2" 
    "logo logo logo logo img-3"
    "img-4 img-4 img-5 img-6 img-7"
    "img-8 img-9 img-9 img-10 img-11"
    "img-8 img-13 img-14 img-14 img-15"
    "img-12 img-13 img-16 img-17 img-18"
    "img-19 img-20 img-20 . ."
}

.logo{
    grid-area: logo;
}
.img-1{
    grid-area: img-1;
}
.img-2{
    grid-area: img-2;
}
.img-3{
    grid-area: img-3;
}
.img-4{
    grid-area: img-4;
}
.img-5{
    grid-area: img-5;
}
.img-6{
    grid-area: img-6;
}
.img-7{
    grid-area: img-7;
}
.img-8{
    grid-area: img-8;
}
.img-9{
    grid-area: img-9;
}
.img-10{
    grid-area: img-10;
}
.img-11{
    grid-area: img-11;
}
.img-12{
    grid-area: img-12;
}
.img-13{
    grid-area: img-13;
}
.img-14{
    grid-area: img-14;
}
.img-15{
    grid-area: img-15;
}
.img-16{
    grid-area: img-16;
}
.img-17{
    grid-area: img-17;
}
.img-18{
    grid-area: img-18;
}
.img-19{
    grid-area: img-19;
}
.img-20{
    grid-area: img-20;
}
